/* h1 {
    color : green;
}

p {
    color:blue;
}

button{
    color:red;
    background-color:aqua;
}

body{
    background-color:rgb(255,200,0);
} */

/* universal selector */

* {
    color: green;
}